<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= resource.image%>" class="card-img-top" alt="..." style="width: 18rem">
            <div class="card-body">
                <h5 class="card-title"><%= resource.title%></h5>
                <p class="card-text"><%= resource.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">Category: <%= resource.category%></li>
                <li class="list-group-item">Subject: <%= resource.subject%></li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/resources/<%=resource._id%>/edit">Edit</a>
                <form class="d-inline" action="/resources/<%=resource._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <a class="card-link btn btn-info" href="/categories/<%= resource.category%>">Back to <%= resource.category%> Category</a>
            </div>
            <div class="card-footer text-muted">
                <a href="<%= resource.url%>">Click to visit resoure website</a>
            </div>
        </div>
    </div>
</div>