<% layout('./layouts/boilerplate') %>
    <h1 style='text-align: center'>Welcome to a single resource page</h1>
    <div class="row">
        <div class='col-6' offset-7>
            <h2 class='card-title'>
                <%= resource.title %>
            </h2>
            <p>
                <%= resource.description %>
            </p>
            <img src="<%=resource.image%>" alt="image">
            <a href="<%= resource.url%>">Click here to visit website</a>
        </div>
        <a href="/resources/<%= resource._id %>/edit">Edit</a>
    </div>
    <a href="/categories/<%= resource.category %>">Back to <%= resource.category %> Category</a>
    <br>

<div class="col-6">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        backgroundColor: 'red',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green'],
            datasets: [{
                label: 'Number of Resources under Each Category',
                backgroundColor: 'rgb(200,100,0)',
                data: [12, 19, 3, 2],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>