<% layout('layouts/boilerplate')%>
<div class="row">
    <!-- <% if(!currentUser) {%>  
    <div class="col-6 offset-3">
    <% }else{ %> -->

    <!-- <% } %> -->
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= resource.image%>" class="card-img-top" alt="..." style="width: 30%;  display: block; margin-left: auto; margin-right: auto;">
            <div class="card-body">
                <h5 class="card-title"><%= resource.title%></h5>
                <p class="card-text"><%= resource.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">Category: <%= resource.category%></li>
                <li class="list-group-item">Subject: <%= resource.subject%></li>
            </ul>
            <div class="card-body">
                <% if(currentUser && currentUser.isAdmin) {%>
                <a class="card-link btn btn-info" href="/resources/<%=resource._id%>/edit">Edit</a>
                <form class="d-inline" action="/resources/<%=resource._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <% } %>
                <% if(currentUser) {%>
                    <% if(isBookmarked) {%>
                        <button class="btn btn-primary" id="bkmk2">Unbookmark</button>
                        <span id="<%= bkmk[0]._id %>" class="bkmk"></span>
                    <% }else{%>
                        <button class="btn btn-primary" id="bkmk1">Bookmark</button>
                    <% } %>

                <% } %>
                <a class="card-link btn btn-info" href="/categories/<%= resource.category%>">Back to <%= resource.category%> Category</a>
            </div>
            <div class="card-footer text-muted">
                <a href="<%= resource.url%>" target="_blank">Click to visit resoure website</a>
            </div>
        </div>
        
    </div>

    <div class="col-6">
        <% if(currentUser) {%>
        <h2 style="text-align: center;">Leave a review</h2>
        <form action="/resources/<%= resource._id %>/reviews" method ="POST" class="mb-3 validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="rating">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label class="form-label" for="body">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
            </div>
            <button class="btn btn-success" name = >Submit</button>
        </form>
        <% } %>
        <% for (let review of resource.reviews ) {%>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rating: <%= review.rating %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">By <%= review.author.username %></h6>
                    <p class="card-text">Review: <%= review.body %></p>
                    <% if(currentUser && review.author.equals(currentUser._id)) {%>
                    <form class="d-inline" action="/resources/<%=resource._id%>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>

</div>